.hidden {
  display: none;
}

.PoolAdd_box {
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  padding: 1rem;
}
.PoolAdd_box_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PoolAdd_box_header_right {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #cff80b;
}

.PoolAdd_box_price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #1e1e1e;
  padding: 1rem;
  gap: 2rem;
}
.PoolAdd_box_price_left_token {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.PoolAdd_box_price_left_token_info {
  display: flex;
  align-items: center;
  justify-content: center; /* 水平居中 */
  gap: 1rem;
  background-color: #cff80b;
  border-radius: 0.5rem;
  color: #1e1e1e;
  padding: 0 2rem;
  font-weight: 700;
}

.PoolAdd_box_price_left_fee {
  display: flex;
  align-items: center;
  justify-content: center; /* 修改为居中对齐 */
  line-height: 0;
  padding: 0.5rem 0.5rem;
  border: 1px solid #cff80b;
  margin-top: 1rem;
  border-radius: 0.5rem;
  flex-direction: column; /* 修改为列方向，确保内容垂直居中 */
}

.PoolAdd_box_price_left_fee h4 {
  text-align: center; /* 标题居中 */
  margin: 0.5 0 1rem; /* 添加一些间距 */
  font-size: 1rem; /* 可以根据需要调整字体大小 */
}

.PoolAdd_box_price_left_fee p {
  font-size: 1rem;
  text-align: center; /* 段落文字居中 */
}

.PoolAdd_box_price_left_fee p:first-of-type {
  margin-bottom: 1.5rem; /* 为第一个 <p> 标签添加底部间距 */
}

.PoolAdd_box_price_left_fee button {
  background-color: #cff80b;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
}

/* 新增的样式 */
.PoolAdd_box_price_left_fee .liquidityList {
  list-style: none; /* 去掉列表的默认样式 */
  padding: 0;
  margin: 0;
  text-align: center; /* 列表内容居中 */
}

.PoolAdd_box_price_left_fee .liquidityList li {
  margin: 0.25rem 0; /* 为列表项添加间距 */
}

.PoolAdd_box_price_left_list {
  display: flex;
  flex-direction: column; /* 使列表垂直排列 */
  gap: 1rem; /* 添加两行之间的间距 */
  margin-top: 1rem;
}

.PoolAdd_box_price_left_list_rows {
  display: flex;
  flex-wrap: wrap; /* 允许换行 */
  gap: 0; /* 移除默认的 gap */
}

.PoolAdd_box_price_left_list_rows_row {
  display: flex;
  flex: 1; /* 让每行占据可用空间 */
  gap: 1rem; /* 添加每行内部选项之间的间距 */
  width: 100%; /* 确保每行宽度为100% */
}

.PoolAdd_box_price_left_list_item {
  border: 1px solid #cff80b;
  padding: 0.5rem;
  line-height: 0.8;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex; /* 启用 Flexbox 布局 */
  flex-direction: column; /* 垂直排列子元素 */
  align-items: center; /* 水平居中子元素 */
  justify-content: center; /* 垂直居中子元素 */
}

.PoolAdd_box_price_left_list_item_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PoolAdd_box_price_left_list_item_para {
  background-color: #cff80b;
  color: #1e1e1e;
  border-radius: 0.5rem;
  padding: 0.3rem;
  width: 100px;
  text-align: center;
}

.PoolAdd_box_deposit_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 0;
  border: 1px solid #cff80b;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.PoolAdd_box_deposit_box input {
  width: 50%;
  background-color: transparent;
  outline: none;
  border: none;
  color: #cff80b;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.PoolAdd_box_deposit_box_input {
  background-color: #cff80b;
  padding: 0 1rem;
  border-radius: 0.5rem;
  color: #1e1e1e;
  font-size: 1.2rem;
}

.PoolAdd_box_deposit_box_input p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.PoolAdd_box_deposit_box_input p small {
  background-color: #1e1e1e;
  color: #cff80b;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.5rem;
}

.PoolAdd_box_deposit_box_input_balance {
  font-size: 0.8rem;
  margin-top: -0.5rem;
  padding-left: 1.4rem;
}

.PoolAdd_box_price_right_box {
  text-align: center;
  line-height: 1;
  margin-top: 1rem;
}

.PoolAdd_box_price_right_box_para {
  font-size: 0.8rem;
  margin-bottom: 1.4rem;
}

.PoolAdd_box_price_right_range {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem; /* 添加顶部间距 */
}

.PoolAdd_box_price_right_range_box {
  border-radius: 0.5rem;
  border: 1px solid #cff80b;
  text-align: center;
  line-height: 1;
}

.PoolAdd_box_price_right_range_box_para small {
  margin-inline: 1rem;
  background-color: #cff80b;
  font-size: 1.2rem;
  color: #1e1e1e;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.PoolAdd_box_price_right_amount,
.PoolAdd_box_price_right_button {
  margin-top: 1rem;
  display: grid;
}

.PoolAdd_box_price_right_button button {
  background-color: #cff80b;
  border: 0;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
}

.PoolAdd_box_price_right_amount button {
  background-color: #cff80b;
  border: 0;
  outline: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
/* //NEW CSS */

.token {
  position: absolute;
  background-color: #1e1e1e;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PoolAdd_box_price_right_range_box_para {
  background-color: #cff80b;
  border: 0;
  outline: 0;
  width: 80%;
  height: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 35em) {
  .PoolAdd_box_price {
    display: grid;
    grid-template-columns: 1fr;
  }

  .PoolAdd_box_price_left_token_info {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #cff80b;
    border-radius: 0.5rem;
    color: #1e1e1e;
    padding: 0 0.5rem;
    font-weight: 700;
  }

  .token {
    position: absolute;
    background-color: #1e1e1e;
    inset: 0% 0% 50% 0%;
    display: flex;
  }
}
